body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url('background.jpg') repeat;
    background-size: cover;
    padding-top: 10vh;
}

h1, h2, h3 {
    color: black;
    margin: 0;
    text-align: center;
}

.background-container {
    background-color: whitesmoke;
    width: calc(100% - 40px);
    max-width: 600px;
    opacity: 0.9;
    padding: 40px;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.numero, .buttons-row, .service-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.numero input {
    width: 100%;
    max-width: 150px;
    box-sizing: border-box;
    height: 30px;
    margin-right: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.tab-content {
    display: none;
    flex-direction: column;
    align-items: center;
}

.service-selection select {
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.grid-item {
    width: 100%;
    padding-top: 100%; /* Maintain a square aspect ratio */
    background-color: grey;
    border: 1px solid black;
    position: relative;
}

.grid-item.filled {
    background-color: green;
}

.grid-item::after {
    content: '';
    display: block;
    padding-bottom: 100%; /* Maintain a square aspect ratio */
}

.service-label, .discount-label {
    grid-column: span 1;
    align-self: center;
    justify-self: start;
}

.discount-label {
    justify-self: end;
}

#quote {
    font-family: Great Vibes;
    font-weight: lighter;
    margin: 0;
}

@media (max-width: 600px) {
    .background-container {
        width: calc(100% - 40px);
        padding: 20px;
        margin: 0 20px;
    }

    .numero, .buttons-row, .service-selection {
        flex-direction: column;
        width: 100%;
    }

    .numero input, .service-selection select {
        width: 100%;
        max-width: none;
        margin: 5px 0;
    }

    button {
        width: 100%;
        max-width: none;
        margin: 5px 0;
    }
}