body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url('background.jpg') repeat;
    background-size: cover;
    padding-top: 10vh;
}

h1, h2, h3 {
    color: black;
    margin: 0;
    text-align: center;
}

.background-container {
    background-color: whitesmoke;
    width: calc(100% - 40px);
    max-width: 600px;
    opacity: 0.9;
    padding: 40px;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    width: 100%;
    max-width: 150px;
    box-sizing: border-box;
    height: 30px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
}

#quote {
    font-family: Great Vibes;
    font-weight: lighter;
    margin: 0;
}

button:hover {
    background-color: #0056b3;
}

#clientInfo, #adminInfo {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr) auto;
    grid-gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.grid-item {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.service-label {
    background-color: lightgrey;
}

.discount-label {
    background-color: lightgrey;
}

.filled {
    background-color: green;
}

.empty {
    background-color: grey;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .background-container {
        width: calc(100% - 40px);
        padding: 20px;
        margin: 0 20px;
    }

    .numero {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    input {
        width: calc(100% - 90px);
        margin-bottom: 0;
    }

    button {
        width: auto;
        margin-left: 10px;
    }
}