body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url('background.jpg') repeat;
    background-size: cover;
    padding-top: 10vh;
}

h1, h2, h3 {
    color: black;
    margin: 0;
    text-align: center;
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.background-container {
    background-color: whitesmoke;
    width: calc(100% - 40px);
    max-width: 600px;
    opacity: 0.9;
    padding: 40px;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    width: 100%;
    max-width: 150px;
    box-sizing: border-box;
    height: 30px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    padding: 0 20px;
    border-radius: 5px;
}

#quote {
    font-family: cursive;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 30px;
}

button:hover {
    background-color: #0056b3;
}

#clientInfo, #adminInfo {
    margin-top: 20px;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-selection select {
    margin-right: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.box {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
}

.box.filled {
    background-color: green;
}

.label {
    width: 80px;
    text-align: center;
}

.spacing {
    height: 20px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-inputs {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.register-inputs input {
    height: 30px;
}

#new-name {
    flex: 1;
    max-width: 25%;
}

#new-phone-number {
    flex: 3;
    max-width: 75%;
}

/*
@media (max-width: 600px) {
    .background-container {
        width: calc(100% - 40px);
        padding: 20px;
        margin: 0 20px;
    }

    .numero {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    input {
        width: calc(100% - 90px);
        margin-bottom: 0;
    }

    button {
        width: auto;
        margin-left: 10px;
    }
}
*/